Identify and print the type of different values using type()

In [4]:

Names = ["Mayowa","Idowu","Kehinde","Abisola"]
type(Names)

list

 Perform basic arithmetic operations using int and float.

In [9]:
# Using Int
MathematicsScore = int(50)
EnglishScore = int(100)
BiologySCore = int(150)
TotalScore = MathematicsScore + EnglishScore + BiologySCore
Difference_Math_English = MathematicsScore - EnglishScore
Quotient_int_Math_English = MathematicsScore // EnglishScore
Product_int_Math_English = MathematicsScore * EnglishScore
print(f"TotalScore: {TotalScore}")
print(f"Difference_Math_English: {Difference_Math_English}")
print(f"Quotient_int_Math_English: {Quotient_int_Math_English}")
print(f"Product_int_Math_English: {Product_int_Math_English}")

TotalScore: 300
Difference_Math_English: -50
Quotient_int_Math_English: 0
Product_int_Math_English: 5000

In [10]:
#Using Floats
# Using floats
x = 10.0  # float
y = 3.0   # float
sum_float = x + y           # Addition
difference_float = x - y    # Subtraction
product_float = x * y       # Multiplication
quotient_float = x / y      # Float division

print("\nFloat operations:")
print(f"Sum: {sum_float}")
print(f"Difference: {difference_float}")
print(f"Product: {product_float}")
print(f"Quotient: {quotient_float}")

Float operations:
Sum: 13.0
Difference: 7.0
Product: 30.0
Quotient: 3.3333333333333335

Convert between different numeric types using int() and float().

In [12]:
# Convert float into int
x = 50.23432
print(int(x))

50

In [13]:
# Convert int into float
x = 50
print(float(x))

50.0

Use String methods to manupulate text

In [18]:
text = "hello world"
formatted_text = text.upper()
capatizedsentence = text.capitalize()
replaced_text = text.replace("world", "Python")
print("Uppercase:", replaced_text)
print(f"Capitalize: {capatizedsentence}")
print(f"Replace: {formatted_text}")
name = "Mayowa"
age = 24
print(f"My name is {name} and I am {age} years old.")

Uppercase: hello Python
Capitalize: Hello world
Replace: HELLO WORLD
My name is Mayowa and I am 24 years old.

Create a list, access elements using indexing and slicing, and
perform list operations (append, remove, pop, sort, reverse)

In [28]:
# Create a list
Fruits =["Mango", "PawPaw", "Apple", "Banana", "Cashew", "Cherry"]

# Indexing
First_Fruit = Fruits[0]

# Slicing
Fruits_Sublist = Fruits[2:5]

print("First Fruit:", First_Fruit)
print("Fruits Sublist:", Fruits_Sublist)

#Sort
Fruits.sort(reverse=True)
print("Sorted_desc:",Fruits)

# Append
New_FruitList = Fruits.append("Pineapple")
print("NewList:", Fruits)

# Reverse
Reverse = Fruits.reverse()
print("Reverse:", Fruits)

First Fruit: Mango
Fruits Sublist: ['Apple', 'Banana', 'Cashew']
Sorted_desc: ['PawPaw', 'Mango', 'Cherry', 'Cashew', 'Banana', 'Apple']
NewList: ['PawPaw', 'Mango', 'Cherry', 'Cashew', 'Banana', 'Apple', 'Pineapple']
Reverse: ['Pineapple', 'Apple', 'Banana', 'Cashew', 'Cherry', 'Mango', 'PawPaw']

Create a Tuple, Access Elements, and Demonstrate Tuple Immutability

In [31]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Access elements
first_element = my_tuple[0]
last_element = my_tuple[-1]

print("First Element:", first_element)
print("Last Element:", last_element)

# Demonstrating Immutability
try:
  my_tuple[0] = 10  # This will raise an error because tuples are immutable
except TypeError as e:
  print("Error:", e)

First Element: 1
Last Element: 5
Error: 'tuple' object does not support item assignment